/*
 *	VARIABLES
 *
 * 	Here we enter our variables, being color, fixed pixle sizes etc.
 *	
 *	@author
*/

//DEFAULT VARIABLES
$default-border-radius: 5px;

//FONT DECLERATIONS (THE OTHER PART IS IN _base.scss)
$font-primary: Merriweather, serif;
$font-primary: Bree Serif, serif;

$link-color: rgb(252,175,23);
$hover-color: rgb(252,118,23);
$text-color: #7e7e7e;